.link{
    display: flex; 
    gap: 10px; 
    max-width:80%;
    margin:50px auto 0px auto; 
    font-weight: 550;
}
.container-product{
    max-width:80%;
    margin:20px auto 0px auto; 
}
.product-details-container{
    display:flex;
}
.container-product .pro-details-left{
    width: 35%;   
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.pro-details-left img{
    max-width: 100%;
    border-radius: 5px;
    height: 85%;
}
.pro-details-left img:hover{
    transform: scale(1.02);
    transition: all 0.3s;
}
.pro-details-right{
    margin-left: 50px;
    width: 60%;
}
.pro-details-right h5{
    margin-top: 30px;
    font-size: 15px;
}
.pro-details-right h1{
    padding: 0px 0px 15px 0px;
    color: rgb(68, 67, 67);
    font-size: 1.5rem;
    font-weight: 550;
}
.pro-details-right h3{
    margin-bottom: 15px;
    padding-top: 5px;
    font-size: 2rem;
}
select{
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.add-to-cart{
    display: flex;
    align-items: flex-start; 
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}
.add-to-cart input{
    border: 1px solid;
    padding: 10px 10px;
    width: 7%;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
}
.add-to-cart button{
    padding: 10px 10px;
    background-color:rgb(255, 78, 13);
    border: transparent;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}
.add-to-cart button:hover{
    cursor: pointer;
    background-color:rgb(143, 40, 2);
}
.description-list li{
    padding-top: 7px;
}
.offers-main{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 0.9rem;
}
.offers{
    display: flex;
}
.offers i{
    color: rgba(45, 179, 11, 0.913);
    font-size: 1rem;
    padding-right: 5px;
}
.offers p{
    padding-left: 7px;
    font-size: .9rem;
}
@media (max-width:750px){
    .container-product{
        max-width:100%;
        margin:20px auto 0px auto; 
        display: flex;
        flex-direction: column;
        
    }
    .product-details-container{
        flex-direction: column;
        align-items: center;
    }
    .container-product .pro-details-left{
        width: 100%;   
        display: flex;
        height: max-content;
        justify-content: center;
        align-items: center;
         
    }
    .pro-details-left img{
        max-width: 100%;
        border-radius: 5px;
        height: 100%;
    }

    .pro-details-right h5{
        margin-top: 30px;
        font-size: 15px;
    }
    .pro-details-right{
        width: 100%;
        margin-left: 0px;
        padding:30px;
    }
    .pro-details-right h1{
        padding: 0px 0px 0px 0px;
        color: rgb(68, 67, 67);
        font-size: 1.2rem;
        font-weight: 550;
        padding-bottom: 10px;
        text-align: justify;
    }
    .pro-details-right h3{
        margin-bottom: 15px;
        padding-top: 10px;
        font-size: 1.7rem;
    }
    select{
        padding: 5px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .add-to-cart{
        display: flex;
        align-items: flex-start; 
        flex-direction: row;
        gap: 10px;
        margin-bottom: 20px;
    }
    .add-to-cart input{
        border: 1px solid;
        padding: 10px 10px;
        width: 20%;
        font-weight: 600;
        border-radius: 3px;
        text-align: center;
    }
    .add-to-cart button{
        padding: 10px 10px;
        background-color:rgb(255, 78, 13);
        border: transparent;
        color: white;
        font-weight: 600;
        border-radius: 3px;
    }
    .add-to-cart button:hover{
        cursor: pointer;
        background-color:rgb(143, 40, 2);
    }
    .description-list li{
        padding-top: 3px;
        font-size: .9rem;
    }
    .offers-main{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        font-size: 0.9rem;
        padding-top: 1.8rem;
    }
    .offers{
        display: flex;
        justify-content: flex-start;
    }
    .offers i{
        color: rgba(45, 179, 11, 0.913);
        font-size: 1rem;
        padding-right: 5px;
    }
    .offers p:nth-child(even){
        padding-left: 7px;
        font-size: .9rem;
        width: 45%;
    }
    .offers p:nth-child(odd){
        padding-left: 7px;
        font-size: .9rem;
        width: 100%;
    }
    .link{
        max-width:100%;
        margin:20px 0px 10px 20px;
    }
    .link p{
        display: none;    
           
    }
  
}

