 #product-main{
    padding: 30px 80px 0px 80px;
    width: 80%;
    margin: auto;
 }
 .title h3{
    padding-bottom: 1.5rem;
 }
 .title a{
    font-size: 1.2rem;
 }
 .title span{
    color: blue; 
 }
.container{
    padding: 20px 0px;
    border: 1px solid rgba(134, 129, 129, 0.279);
    border-radius: 5px;
}
.container .product{
    display: flex;
    justify-content: space-around;
    max-height: 22rem;
    padding: 3rem 0;
    border-bottom: 1px solid rgba(134, 129, 129, 0.279);
    cursor: pointer;
}
.product:hover h1{
    color: blue;
}
.product-img{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}
.product-img img{
    height: 14rem;
    width: 100%;
    object-fit: contain;
}
.product-img img:hover{
    transform: scale(1.03);
    transition: all 0.3s;
}
.product-description{
    width: 50%;
}
.product-description h1{
    font-size: 1.3rem;
    font-weight: 550;
    color: rgb(43, 42, 42);
    padding-bottom: 0.2rem;
}

.product-description .star{
    display: flex;
    gap: 5px;
    background: rgba(2, 116, 2, 0.831);
    color: white;
    width: max-content;
    padding: .3rem;
    font-size: .8rem;
    margin: 5px 0px;
    border-radius: .2rem;
}
.star i{
    color: white; 
}
.price{
    font-size: 1.8rem;
    font-weight: 550;
    padding-top: 5px;
}
.description-list{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 1rem 0rem;
    padding-left:1rem ;
}
ol li{
    list-style: disc;
}
.add-to-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.add-to-cart i{
    font-size: 1.5rem;
    cursor: pointer;
}
.add-to-cart i:hover{
    color:orangered;
    transform: scale(1.1);
    transition: 0.3s;
}

/*pagination*/

#pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px 0;
}
#pagination a{
    padding: 10px 20px;
    background: orangered;
    border-radius: 7px;
    color: white;
}
#pagination a:hover{
    background-color:rgb(143, 40, 2);
}
#pagination i{
    color: white;
}
#pagination a.active{
    background-color:rgb(107, 33, 6);
}

@media (max-width:450px) {
    #product-main{
        padding: 30px 0px 0px 0px;
        width: 100%;
        margin: auto;
    }
    #product-main .title{
        padding-left: 10px;
        font-size: .8rem;
    }
    #product-main .title a{
        font-size: .9rem;
    }
    .container{
        padding: 0px 0px;
        border: 1px solid rgba(134, 129, 129, 0.279);
        border-radius: 5px;
    }
    .container .product{
        display: flex;
        justify-content: center;
        gap: 1rem;
        max-height: 22rem;
        padding: 1.2rem 0;
        border-bottom: 1px solid rgba(134, 129, 129, 0.279);
        cursor: pointer;
    }
    .product-img{
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: center;
    }
    .product-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .product-img img:hover{
        transform: scale(1.03);
        transition: all 0.3s;
    }
    .product-description{
        width: 60%;
    }
    .product-description h1{
        font-size: 1rem;
        font-weight: 550;
        color: rgb(43, 42, 42);
        padding-bottom: 0.2rem;
    }
    
    .product-description .star{
        display: flex;
        gap: 5px;
        background: rgba(2, 116, 2, 0.831);
        color: white;
        width: max-content;
        padding: .2rem;
        font-size: .7rem;
        margin: 5px 0px;
        border-radius: .2rem;
    }
    .star i{
        color: white; 
    }
    .price{
        font-size: 1.6rem;
        font-weight: 550;
        padding-top: 5px;
    }
    .description-list{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin: .5rem 0rem;
        padding-left:.7rem ;
    }
    ol li{
        list-style: disc;
        font-size: .7rem;
    }
    .add-to-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        display: none;
    }
    .add-to-cart i{
        font-size: 1.5rem;
        cursor: pointer;
    }
    .add-to-cart i:hover{
        color:orangered;
        transform: scale(1.1);
        transition: 0.3s;
    }
}
